@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PhilipsHIS</title>
        <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    

    <header>
        
        @*<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(#002b5c, #004fa9);">*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            &nbsp;&nbsp;
            <img src="@Url.Content("~/img/Logo2.png")" />
            &nbsp;
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse show" id="navbarResponsive">
                <ul class="navbar-nav me-auto">
                    @*<li class="nav-item">
                        <a class="nav-link "  asp-controller="Home" asp-action="Index">Home</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link "  asp-controller="List" asp-action="ListIndex"> Patient List </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false"> Location </a>
                        <div class="dropdown-menu" data-bs-popper="static">
                            <a asp-controller="Home" asp-action="Ward1" class="dropdown-item" >Ward 1</a>
                            <a asp-controller="Home" asp-action="Ward2" class="dropdown-item" >Ward 2</a>
                            <a asp-controller="Home" asp-action="Ward3" class="dropdown-item" >Ward 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="List" asp-action="Admit" class="nav-link">
                                    <i class="bi bi-person-plus"></i> New Patient </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link"> Logout </a>
                    </li>
                </ul>
            </div>

            @*<div class="d-flex align-items-center mb-2 mb-lg-0" id="navbarColor03">                                   
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle me-2 mb-lg-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">Location</a>
                               <ul class="dropdown-menu" data-bs-popper="static">
                                    <li><a asp-controller="Home" asp-action="Ward1" class="dropdown-item" >Ward 1</a></li>
                                    <li><a asp-controller="Home" asp-action="Ward2" class="dropdown-item" >Ward 2</a></li>
                                    <li><a asp-controller="Home" asp-action="Ward3" class="dropdown-item" >Ward 3</a></li>
                                </ul>
                        </div>
                    &nbsp;
                    <a asp-controller="List" asp-action="Admit" class="nav-link">
                                    <i class="bi bi-person-plus"></i> New Patient </a>
                    &nbsp;
                    <a asp-controller="Home" asp-action="Index" class="nav-link me-2 mb-lg-0"> Logout </a>
            </div> *@               
        </nav>
    </header>
        
                  
    <div class="container">
        <main role="main">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    @*<footer class="footer text-muted bg-primary">
        <div class="container">
            &copy; 2022 - PhilipsHIS
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/PatientTable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
            img {
                width: 102.4px;
                height: 20.5px;
            }
            body {
                 /*background-color: #f6fbfe;*/
            }
    </style>
</html>
