@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <div class="container login-page">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login </title>
    <div class="img-box">
        <img src="img/Logo2.png" />
    </div>
  </head>
  <body>
    <div class="main">
        
      @*<div class="logo"></div>*@
      <h2 class="sign" align="center">Sign In </h2>
      <form class="form1">
        <input class="un " type="text" align="center" placeholder="Username">
        <input class="pass" type="password" align="center" placeholder="Password">
        <a asp-action="Location" class="login-btn btn btn-lg"> Login </a>
      </form>
      </div>
  </body>
  </div>
</html>

    @*<div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>*@

@*<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0" align="center">
             <h2 class="fw-bold" >Sign In</h2>
        </div>
        <div class="modal-body p-5 pt-0">
        <form asp-action="Login">
            <div class="form-floating mb-3">
                 <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Username">
                 <label for="floatingInput" <i class="bi bi-person-fill"></i> Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" <i class="bi bi-lock-fill"></i> Password</label>
            </div>
          @*<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" asp-action="Location">Login</button>
          <a asp-action="Location" class="w-100 mb-2 border-bottom-0 btn btn-lg rounded-3 btn-primary"> Login </a>
        </form>
      </div>
    </div>
  </div>
</div>*@
