@{
    ViewData["Title"] = "Ward 3";
    Layout = "_LoginLayout";
}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/ward.css"> 
    </head>
    <body>
         <div class="container">
         <h1>Ward 3</h1>
         <div class="nav-item">
            <button type="submit" class="btn btn-primary"> Click </button>
        </div>
        </div>
    </body>
</html>


