* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container login-page {
    position: static;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    margin-bottom: 100px;
    width: 120vw;
    height: 80vh;
}

body {
    background: linear-gradient(#002b5c, #5eb9e6, #c2e4f7);
}

.img-box {
    padding-top: 0px;
    text-align: left;
}

img {
    width: 102.4px;
    height: 20.5px;
    margin: 30px auto;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 310px;
    margin: 8em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 10px 5px rgba(0, 0, 0, 0.2);
}

.sign {
    padding-top: 30px;
    color: #0e7bc0;
    font-weight: bold;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 20px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.login-btn {
    cursor: pointer;
    border-radius: 1em;
    color: #fff;
    background: linear-gradient(to right, #0b5d90, #1399ee );
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

    .login-btn:hover {
        background: linear-gradient(to right, #094d79, #108ad8);
    }

    .login-btn:active {
        background: linear-gradient(to right, #094d79, #108ad8);
    }


a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
